<div class="un-views-cards-bottom-ingresos">
    <div class="un-views-cards-bottom-ingresos-container">
        <div class="un-views-cards-bottom-ingresos-container-top">
            <div class="un-views-cards-bottom-ingresos-container-top-icon">
                <div class="un-views-cards-bottom-ingresos-container-top-icon-text">
                    <mat-icon
                        class="un-views-cards-bottom-ingresos-container-top-icon-text-size">arrow_downward</mat-icon>
                </div>
                <div class="un-views-cards-bottom-ingresos-container-top-icon-number">
                    <h3 class="un-views-cards-bottom-ingresos-container-top-icon-number-text">Ingresos</h3>
                    <p class="un-views-cards-bottom-ingresos-container-top-icon-number-number">$45,741</p>
                </div>
            </div>
            <div class="un-views-cards-bottom-ingresos-container-top-month">
                <div class="un-views-cards-bottom-ingresos-container-top-month-row">
                    <mat-icon
                        class="un-views-cards-bottom-ingresos-container-top-month-row-icon">arrow_drop_up</mat-icon>
                    <h3 class="un-views-cards-bottom-ingresos-container-top-month-row-porcent">+0,5%</h3>
                    <p class="un-views-cards-bottom-ingresos-container-top-month-row-text">Mes pasado</p>
                </div>
            </div>
        </div>
        <div class="un-views-cards-bottom-ingresos-container-line">
            <canvas class="un-views-cards-bottom-ingresos-container-line-chart" baseChart [datasets]="lineChartDataa" [labels]="lineChartLabels">
            </canvas>
        </div>
    </div>
</div>