<div class="un-views-header">
    <div class="un-views-header-container">
        <div class="un-views-header-container-searchbar">
            <mat-icon class="un-views-header-container-searchbar-icon">search</mat-icon>
            <input class="un-views-header-container-searchbar-input" value="Busca aquí">
        </div>
        <div class="un-views-header-container-config">
            <mat-icon class="un-views-header-container-config-icon">settings</mat-icon>
            <mat-icon class="un-views-header-container-config-icon">notifications</mat-icon>
            <div mat-card-avatar class="un-views-header-container-image"></div>
            <p class="un-views-header-container-config-text">Gustavo Ramos</p>
        </div>
    </div>
</div>