<div class="un-views-grafics-table">
    <div class="un-views-grafics-table-container">
        <div class="un-views-grafics-table-container-right">
            <h2 class="un-views-grafics-table-container-right-das">Últimas transacciones</h2>
            <table class="un-views-grafics-table-container-right-das" mat-table [dataSource]="data"
                class="mat-elevation-z8">
                <ng-container class="un-views-grafics-table-container-right-das-sas"
                    *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                    <th class="un-views-grafics-table-container-right-das-sas-ses" mat-header-cell
                        *matHeaderCellDef>{{ column === 'position' ? '' : '' }}</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container class="un-views-grafics-table-container-right-das-sas-ses-td-icon"
                            *ngIf="column === 'position'">
                            <mat-icon [ngClass]="element.iconClass">{{ element.icon }}</mat-icon>
                        </ng-container>
                        <ng-container *ngIf="column !== 'position' && column !== 'estado'">{{ element[column]
                            }}</ng-container>
                        <ng-container *ngIf="column === 'estado'">
                            <div [ngClass]="element.stateClass">{{ element[column] }}</div>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="un-views-grafics-table-container-right-paginator" [pageSize]="5"
            [pageSizeOptions]="[5]" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
        </div>
    </div>
</div>