.un-views-grafics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;

    &-doble {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 500px;
        width: 100%;
        background-color: white;
        border-radius: 30px;

        &-cansao {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 95%;
            height: 100%;

            &-div {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 60px;
                font-family: Arial;
            }
        }
    }
}

@media (max-width: 768px) {
    .un-views-grafics-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;

        &-doble {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }
    }
}